body {
  font-family: Arial, sans-serif;
  background-color: #fcf1f0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffbcbc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

#nav-bar li {
  margin-right: 20px;
}

#home {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

#nav-bar #search-bar {
  flex-grow: 1;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

#nav-bar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#nav-bar a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 0;
  width: 100%;
}

.group-container, .person-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #ffcccc; /* Pastel pink slightly darker than the background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  position: relative;
}

.person-details {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.person-info-left, .person-info-right {
  flex: 1;
  padding: 10px;
}

.person-info-left {
  border-right: 1px solid #ccc;
  padding-right: 20px;
  flex: 0.4; /* Adjust flex value to make the left section smaller */
}

.person-info-right {
  padding-left: 20px;
  flex: 0.6; /* Adjust flex value to make the right section larger */
}

h2, h3 {
  margin-top: 0;
}

button {
  padding: 10px 20px;
  background-color: #4a95e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.edit-info-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.gift-idea-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fc8021;
}

.gift-idea-btn:hover {
  background-color: #bd7216;
}

.groups-grid, .members-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.group-card, .member-card {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 150px; /* Fixed width for square shape */
  height: 100px; /* Adjusted height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-card.add-group, .member-card.add-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remove-button, .add-button, .delete-button {
  background-color: rgb(142, 26, 26);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.remove-button:hover, .add-button:hover, .delete-button:hover {
  background-color: rgb(67, 18, 18);
}

.add-button {
  background-color: green;
}

.add-button:hover {
  background-color: darkgreen;
}
.edit-form-input {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}
.card-name {
  display: inline-block;
  padding: 10px 20px; 
  font-size: 18px; 
  font-weight: bold;
  color: rgb(0, 0, 0); 
  background-color: #fcf1f0;
  text-decoration: none; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s, box-shadow 0.3s;
}
.card-name:hover {
  background-color: #ffbcbc; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.card-name:active {
  background-color: #fcf1f0;
}
.new-name {
  padding: 12px 4px; 
  border: 1px solid #5d5d5d;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
}
textarea, input[type="date"] {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
label {
  font-weight: bold;
}