body {
  font-family: Arial, sans-serif;
  background-color: #FFE4E1;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffbcbc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

#nav-bar li {
  margin-right: 20px;
}

#nav-bar #home {
  font-size: 24px;
  font-weight: bold;
}

#nav-bar #search-bar {
  flex-grow: 1;
  padding: 5px;
}

#nav-bar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#nav-bar a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
}

.person-details {
  display: flex;
  width: 100%;
}

.person-photo {
  flex: 1;
  text-align: center;
}

.person-photo img {
  max-width: 150px;
  border-radius: 50%;
}

.person-info {
  flex: 2;
  padding-left: 20px;
}

.person-info p {
  margin: 5px 0;
}

.person-notes {
  width: 100%;
  margin-top: 20px;
}

.person-notes h3 {
  margin: 10px 0 5px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.gift-idea-btn {
  margin-top: 10px;
  background-color: #28a745;
}

.gift-idea-btn:hover {
  background-color: #218838;
}

.group-list-container {
  width: 100%;
  max-width: 1200px;
}

.groups-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive columns */
  gap: 10px; /* Reduced gap */
  justify-content: center; /* Center the grid items */
  margin-top: 20px;
}

.group-card {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px; /* Fixed width for square shape */
  height: 150px; /* Fixed height for square shape */
  color: white; /* Text color to be visible on dark backgrounds */
}

.group-card.add-group {
  font-size: 2em;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px; /* Rounded square */
  width: 25px; /* Adjust width and height for square shape */
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1; /* Ensure "x" is centered */
  text-align: center;
  cursor: pointer;
}

.delete-button:hover {
  background: darkred;
}

.google-login {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: #4285F4;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.google-login:hover {
  background-color: #357ae8;
}
