<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  <title>{% block title %}Character Sheets{% endblock %}</title>
</head>
<body>
  <nav>
    <ul id="nav-bar">
      <li><a href="{{ url_for('base') }}" id="home">CS</a></li>
      <li><input id="search-bar" type="text" placeholder="Search..." /></li>
      {% if not session.username %}
        <li><a href="{{ url_for('signup') }}" id="signup">Sign up</a></li>
        <li><a href="{{ url_for('login') }}" id="login">Login</a></li>
      {% else %}
        <li><a href="{{ url_for('logout') }}" id="logout">Logout</a></li>
      {% endif %}
    </ul>
  </nav>
  <div class="container">
    {% if request.endpoint == 'base' and session.username %}
      <div class="group-container">
        <h2>Groups List</h2>
        <div class="groups-grid">
          {% for group in groups %}
            <div class="group-card" id="group-card-{{ group.group_id }}">
              <a href="{{ url_for('view_group', group_id=group.group_id) }}">{{ group.group_name }}</a>
              <form action="{{ url_for('delete_group', group_id=group.group_id) }}" method="POST" style="display:inline;">
                <button type="submit" class="delete-button">x</button>
              </form>
            </div>
          {% endfor %}
          <div class="group-card add-group">
            <form action="{{ url_for('create_group') }}" method="POST">
              <input type="text" name="group_name" placeholder="New Group Name" required>
              <button type="submit" class="add-button">+</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const colors = ['#D94A29', '#F9C784', '#A5C3A2', '#89A9B0', '#aa7fdb', 'b8f09e'];
      const groupCards = document.querySelectorAll('.group-card');
      
      groupCards.forEach(card => {
        const randomColor = colors[Math.floor(Math.random() * colors.length)];
        card.style.backgroundColor = randomColor;
      });
    });
  </script>
</body>
</html>
