{% extends "base.html" %}
{% block title %}Edit Person{% endblock %}
{% block content %}
<div class="edit-person-container">
    <h2>Edit {{ person.name }}</h2>
    <form action="{{ url_for('edit_person', person_id=person.person_id) }}" method="POST">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday" value="{{ person.birthday }}" />
        
        <label for="relationship">Relationship:</label>
        <input type="text" id="relationship" name="relationship" value="{{ person.relationship }}" />
        
        <label for="anniversaries">Anniversaries:</label>
        <input type="date" id="anniversaries" name="anniversaries" value="{{ person.anniversaries }}" />
        
        <label for="likes">Likes:</label>
        <textarea id="likes" name="likes">{{ person.likes }}</textarea>
        
        <label for="dislikes">Dislikes:</label>
        <textarea id="dislikes" name="dislikes">{{ person.dislikes }}</textarea>
        
        <label for="allergies">Allergies:</label>
        <textarea id="allergies" name="allergies">{{ person.allergies }}</textarea>

        <label for="reminders">Important reminders:</label>
        <textarea id="reminders" name="reminders">{{ person.reminders }}</textarea>
        
        <label for="how_we_met">How we met:</label>
        <textarea id="how_we_met" name="how_we_met">{{ person.how_we_met }}</textarea>
        
        <label for="favorite_memory">Favorite memory:</label>
        <textarea id="favorite_memory" name="favorite_memory">{{ person.favorite_memory }}</textarea>
        
        <label for="recent_updates">Recent life updates:</label>
        <textarea id="recent_updates" name="recent_updates">{{ person.recent_updates }}</textarea>
        
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}
