{% extends "base.html" %}
{% block title %}Edit Person{% endblock %}
{% block content %}
<div class="edit-person-container">
    <h2>Edit {{ person.name }}</h2>
    <form action="{{ url_for('edit_person', person_id=person.person_id) }}" method="post">
        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday" value="{{ person.birthday if person.birthday else '' }}">
        
        <label for="allergies">Allergies:</label>
        <textarea id="allergies" name="allergies">{{ person.allergies if person.allergies else '' }}</textarea>
        
        <label for="interests">Interests:</label>
        <textarea id="interests" name="interests">{{ person.interests if person.interests else '' }}</textarea>
        
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}
